<nav class="menu">
  <ul>
    <!-- Exemplos de uso do routerLink -->

    <!-- Exemplo 01 - apenas a rota -->
    <li><a routerLinkActive="active" routerLink="/aula02">Aula 02</a></li>
    <li><a routerLinkActive="active" routerLink="aula03">Aula 03</a></li>

    <!-- Exemplo 02 - rota com [] -->
    <li><a routerLinkActive="active" [routerLink]="['aula04']">Aula 04</a></li>

    <!-- O routerLinkActive é uma diretiva que adiciona uma classe CSS ao elemento quando 
    a rota ativa corresponde à rota do link. -->
  </ul>
</nav>

<!-- Obs: as ramificações de rotas são separadas por vírgula, mas na url elas são separadas por barra. -->
<!-- Exemplo: /aula03/aula04 -->
<!-- Exemplo: /produto/1 -->