<h3>Pipes</h3>

<h5>Pipe date</h5>
<p>Valor sem pipe: {{ date }}</p>
<p>Valor com pipe de data: {{ date | date }}</p>
<p>Formato brasileiro com formato `dd/MM/yyyy`: {{ date | date : "dd/MM/yyyy" | titlecase }}</p>
<p>Formato brasileiro com formato `dd/MM/yyyy HH:mm`: {{ date | date : "dd/MM/yyyy HH:mm:ss" : '': 'en'}}</p>
<p>Formato brasileiro com formato `dd LLLL yyyy`: {{ date | date : "dd LLLL yyyy" }}</p>
<p>{{dataFormatada }}</p>
<ul>
  <p>Índice</p>
  <li>dd - dia</li>
  <li>MM - mês</li>
  <li>yyyy - ano</li>
  <li>HH - hora</li>
  <li>mm - minuto</li>
  <li>LLLL - mês por extenso</li>
</ul>
<br />

<h5>Pipe uppercase e lowercase</h5>
<p>Valor sem pipe: {{ text }}</p>
<p>Valor com pipe de uppercase: {{ text | uppercase }}</p>
<p>Valor com pipe de lowercase: {{ text | lowercase }}</p>
<p>Valor com pipe de titlecase: {{ text | titlecase }}</p>
<br />


<h5>Pipe currency</h5>
<p>Valor sem pipe: {{ number }}</p>
<p>Valor com o pipe de moeda: {{ number | currency }}</p>
<!-- <p>Valor com decimal brasileiro (PT): {{ number | currency : "BRL": "symbol": "2.1-3": "PT" }}</p> -->
<p>Valor com decimal extrangeiro (En): {{ number | currency : "USD": "symbol": "2.1-3": "En" }}</p>
<br>
<br>
<!-- <p>Valor com moeda brasileira e simbolo (R$): {{ number | currency : "PT" : "R$" }}</p> -->
<p>Valor com moeda do tipo USD e simbolo ($): {{ number | currency : "en-US" : "$" }}</p>
<p>Exemplo 2 com moeda brasileira e limitador de decimais: {{ 1234.56 | currency : "BRL" : "R$" : "1.3-5"}}</p>
<br />

<h5>Pipe json</h5>
<p>Valor sem pipe: {{ obj }}</p>
<p>Valor com pipe de json: {{ obj.endereco | json }}</p>
<br />

<h5>Pipe slice</h5>
<!-- O pipe slice também funciona como o método slice do JavaScript, tanto 
 em strings como em arrays, onde é possível passar o índice inicial e final 
 para a exibição do texto. -->
<p>Valor sem pipe: {{ "Exemplo de texto com slice" }}</p>
<p>Valor com pipe de slice: {{ "Exemplo de texto com slice" | slice : 0 : 8 }}</p>
<p>Valor com pipe de slice: {{ "Exemplo de texto com slice" | slice : 8 : 11 }}</p>
<br /><br />


<h5>Pipe personalizado - Formatador de CEP</h5>
<p>Valor sem pipe: {{ "12312323" }}</p>
<p>Valor com pipe de CEP: {{ "12312323" | formatCEP: "." }}</p><!-- 12312-323 -->