.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #fe7607;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}

.btn-small{
    padding: 4px 8px !important;
    font-size: 8px !important;
}

.disabled{
    background-color: #fab57d !important;
    cursor: no-drop;
}