/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h3 {
  color: #333;
  font-size: 24px;
  margin: 20px 0;
}

h5 {
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo da lista */
.listagem ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo dos itens */
.listagem li {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
  background-color: #24c6c7;
}

/* Efeito hover nos itens */
.listagem li:hover {
  background-color: #1a9c9f;
  transform: scale(1.02);
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #fe074c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
.btn.outlined{
  color: #fe074c !important;
  background-color: transparent !important;
  border: 2px solid #fe074c !important;
}

.btn:hover {
  background-color: #ff0a5f;
}

.btn.btn-success {
  background-color: #168716;
}

.btn.btn-danger {
  background-color: #891717;
}

.btn.btn-primary {
  background-color: #4545a2;
}

.margin-bottom{
  margin-bottom: 1rem;
}